/* hathorock - v.1.0.0 
 * Icon font set for use with GIS and spatial analysis tools
 * 2024 (c) Jean-Marc Viglino - Apache-2.0
 * https://github.com/Viglino/font-gis
 */
@font-face {
  font-family: "hathorock";
  src: url('../fonts/hathorock.eot?t=1727255196098');
  src: url('../fonts/hathorock.eot?#iefix') format('eot'),
    url('../fonts/hathorock.woff2?t=1727255196098') format('woff2'),
    url('../fonts/hathorock.woff?t=1727255196098') format('woff'),
    url('../fonts/hathorock.ttf?t=1727255196098') format('truetype'),
    url('../fonts/hathorock.svg#hathorock') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-gis {
  width: 1em;
  height: 1em;
}

[class^="h-"]:before, [class*="h-"]:before {
  font-family: "hathorock";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="h-"] {
  display: inline-block;
}
.h-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.h-2x { font-size: 2em; }
.h-3x { font-size: 3em; }
.h-4x { font-size: 4em; }
.h-5x { font-size: 5em; }
.h-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.h-rotate10 {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.h-rotate-10 {
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.h-rotate20 {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.h-rotate-20 {
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.h-rotate45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.h-rotate90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.h-rotate135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.h-rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.h-rotate225 {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.h-rotate270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.h-rotate315 {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.h-fliph {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.h-flipv {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.h-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.h-stack [class^="h-"] {
  position: absolute;
}

.h-spin {
  -webkit-animation: h-spin 2s infinite linear;
  animation: h-spin 2s infinite linear;
}
.h-pulse {
  -webkit-animation: h-spin 1s infinite steps(8);
  animation: h-spin 1s infinite steps(8);
}

@-webkit-keyframes h-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes h-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.h-space:before { content: "\20"; }
.h-excl:before { content: "\21"; }
.h-quotedbl:before { content: "\22"; }
.h-numbersign:before { content: "\23"; }
.h-dollar:before { content: "\24"; }
.h-percent:before { content: "\25"; }
.h-ampersand:before { content: "\26"; }
.h-quotesingle:before { content: "\27"; }
.h-parenleft:before { content: "\28"; }
.h-parenright:before { content: "\29"; }
.h-asterisk:before { content: "\2a"; }
.h-plus:before { content: "\2b"; }
.h-coma:before { content: "\2c"; }
.h-minus:before { content: "\2d"; }
.h-period:before { content: "\2e"; }
.h-slash:before { content: "\2f"; }
.h-0:before { content: "\30"; }
.h-1:before { content: "\31"; }
.h-2:before { content: "\32"; }
.h-3:before { content: "\33"; }
.h-4:before { content: "\34"; }
.h-5:before { content: "\35"; }
.h-6:before { content: "\36"; }
.h-7:before { content: "\37"; }
.h-8:before { content: "\38"; }
.h-9:before { content: "\39"; }
.h-colon:before { content: "\3a"; }
.h-semicolon:before { content: "\3b"; }
.h-lt:before { content: "\3c"; }
.h-equal:before { content: "\3d"; }
.h-gt:before { content: "\3e"; }
.h-quest:before { content: "\3f"; }
.h-at:before { content: "\40"; }
.h-A:before { content: "\41"; }
.h-B:before { content: "\42"; }
.h-C:before { content: "\43"; }
.h-D:before { content: "\44"; }
.h-E:before { content: "\45"; }
.h-F:before { content: "\46"; }
.h-G:before { content: "\47"; }
.h-H:before { content: "\48"; }
.h-I:before { content: "\49"; }
.h-J:before { content: "\4a"; }
.h-K:before { content: "\4b"; }
.h-L:before { content: "\4c"; }
.h-M:before { content: "\4d"; }
.h-N:before { content: "\4e"; }
.h-O:before { content: "\4f"; }
.h-P:before { content: "\50"; }
.h-Q:before { content: "\51"; }
.h-R:before { content: "\52"; }
.h-S:before { content: "\53"; }
.h-T:before { content: "\54"; }
.h-U:before { content: "\55"; }
.h-V:before { content: "\56"; }
.h-W:before { content: "\57"; }
.h-X:before { content: "\58"; }
.h-Y:before { content: "\59"; }
.h-Z:before { content: "\5a"; }
.h-bracketleft:before { content: "\5b"; }
.h-backslash:before { content: "\5c"; }
.h-bracketright:before { content: "\5d"; }
.h-circ:before { content: "\5e"; }
.h-underscore:before { content: "\5f"; }
.h-grave:before { content: "\60"; }
.h-a:before { content: "\61"; }
.h-b:before { content: "\62"; }
.h-c:before { content: "\63"; }
.h-d:before { content: "\64"; }
.h-e:before { content: "\65"; }
.h-f:before { content: "\66"; }
.h-g:before { content: "\67"; }
.h-h:before { content: "\68"; }
.h-i:before { content: "\69"; }
.h-j:before { content: "\6a"; }
.h-k:before { content: "\6b"; }
.h-l:before { content: "\6c"; }
.h-m:before { content: "\6d"; }
.h-n:before { content: "\6e"; }
.h-o:before { content: "\6f"; }
.h-p:before { content: "\70"; }
.h-q:before { content: "\71"; }
.h-r:before { content: "\72"; }
.h-s:before { content: "\73"; }
.h-t:before { content: "\74"; }
.h-u:before { content: "\75"; }
.h-v:before { content: "\76"; }
.h-w:before { content: "\77"; }
.h-x:before { content: "\78"; }
.h-y:before { content: "\79"; }
.h-z:before { content: "\7a"; }
.h-braceleft:before { content: "\7b"; }
.h-bar:before { content: "\7c"; }
.h-braceright:before { content: "\7d"; }
.h-tilde:before { content: "\7e"; }
.h-iexcl:before { content: "\a1"; }
.h-cent:before { content: "\a2"; }
.h-sterling:before { content: "\a3"; }
.h-curren:before { content: "\a4"; }
.h-yen:before { content: "\a5"; }
.h-brkbar:before { content: "\a6"; }
.h-sect:before { content: "\a7"; }
.h-uml:before { content: "\a8"; }
.h-copy:before { content: "\a9"; }
.h-ordf:before { content: "\aa"; }
.h-laquo:before { content: "\ab"; }
.h-not:before { content: "\ac"; }
.h-reg:before { content: "\ae"; }
.h-macr:before { content: "\af"; }
.h-deg:before { content: "\b0"; }
.h-plusmn:before { content: "\b1"; }
.h-sup2:before { content: "\b2"; }
.h-sup3:before { content: "\b3"; }
.h-acute:before { content: "\b4"; }
.h-micro:before { content: "\b5"; }
.h-para:before { content: "\b6"; }
.h-middot:before { content: "\b7"; }
.h-cedil:before { content: "\b8"; }
.h-sup1:before { content: "\b9"; }
.h-ordm:before { content: "\ba"; }
.h-raquo:before { content: "\bb"; }
.h-frac14:before { content: "\bc"; }
.h-frac12:before { content: "\bd"; }
.h-frac34:before { content: "\be"; }
.h-iquest:before { content: "\bf"; }
.h-Agrave:before { content: "\c0"; }
.h-Aacute:before { content: "\c1"; }
.h-Acirc:before { content: "\c2"; }
.h-Atilde:before { content: "\c3"; }
.h-Auml:before { content: "\c4"; }
.h-Aring:before { content: "\c5"; }
.h-AElig:before { content: "\c6"; }
.h-Ccedil:before { content: "\c7"; }
.h-Egrave:before { content: "\c8"; }
.h-Eacute:before { content: "\c9"; }
.h-Ecirc:before { content: "\ca"; }
.h-Euml:before { content: "\cb"; }
.h-Igrave:before { content: "\cc"; }
.h-Iacute:before { content: "\cd"; }
.h-Icirc:before { content: "\ce"; }
.h-Iuml:before { content: "\cf"; }
.h-ETH:before { content: "\d0"; }
.h-Ntilde:before { content: "\d1"; }
.h-Ograve:before { content: "\d2"; }
.h-Oacute:before { content: "\d3"; }
.h-Ocirc:before { content: "\d4"; }
.h-Otilde:before { content: "\d5"; }
.h-Ouml:before { content: "\d6"; }
.h-times:before { content: "\d7"; }
.h-Oslash:before { content: "\d8"; }
.h-Ugrave:before { content: "\d9"; }
.h-Uacute:before { content: "\da"; }
.h-Ucirc:before { content: "\db"; }
.h-Uuml:before { content: "\dc"; }
.h-Yacute:before { content: "\dd"; }
.h-thorn:before { content: "\de"; }
.h-szlig:before { content: "\df"; }
.h-agrave:before { content: "\e0"; }
.h-aacute:before { content: "\e1"; }
.h-acirc:before { content: "\e2"; }
.h-atilde:before { content: "\e3"; }
.h-auml:before { content: "\e4"; }
.h-aring:before { content: "\e5"; }
.h-aelig:before { content: "\e6"; }
.h-ccedil:before { content: "\e7"; }
.h-egrave:before { content: "\e8"; }
.h-eacute:before { content: "\e9"; }
.h-ecirc:before { content: "\ea"; }
.h-euml:before { content: "\eb"; }
.h-Amacron:before { content: "\100"; }
.h-Emacron:before { content: "\112"; }
.h-Imacron:before { content: "\12a"; }
.h-Omacron:before { content: "\14c"; }
.h-Umacron:before { content: "\16a"; }
.h-euro:before { content: "\20ac"; }
.h-bug:before { content: "\260e"; }
.h-hand:before { content: "\261a"; }
.h-ankh:before { content: "\2625"; }
.h-eye:before { content: "\263c"; }
.h-hathor:before { content: "\263f"; }
.h-female-:before { content: "\2640"; }
.h-coffin:before { content: "\26b0"; }
.h-funeral:before { content: "\26b1"; }
.h-scribe:before { content: "\270d"; }