/* hathorock - v.1.0.0 
 * Icon font set for use with GIS and spatial analysis tools
 * 2024 (c) Jean-Marc Viglino - Apache-2.0
 * https://github.com/Viglino/font-gis
 */
@font-face {
  font-family: "hathorock";
  src: url('../fonts/hathorock.eot?t=1724151413691');
  src: url('../fonts/hathorock.eot?#iefix') format('eot'),
    url('../fonts/hathorock.woff2?t=1724151413691') format('woff2'),
    url('../fonts/hathorock.woff?t=1724151413691') format('woff'),
    url('../fonts/hathorock.ttf?t=1724151413691') format('truetype'),
    url('../fonts/hathorock.svg#hathorock') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-gis {
  width: 1em;
  height: 1em;
}

[class^="h-"]:before, [class*="h-"]:before {
  font-family: "hathorock";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="h-"] {
  display: inline-block;
}
.h-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.h-2x { font-size: 2em; }
.h-3x { font-size: 3em; }
.h-4x { font-size: 4em; }
.h-5x { font-size: 5em; }
.h-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.h-rotate10 {
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.h-rotate-10 {
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.h-rotate20 {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.h-rotate-20 {
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.h-rotate45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.h-rotate90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.h-rotate135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.h-rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.h-rotate225 {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.h-rotate270 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.h-rotate315 {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.h-fliph {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.h-flipv {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.h-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
}
.h-stack [class^="h-"] {
  position: absolute;
}

.h-spin {
  -webkit-animation: h-spin 2s infinite linear;
  animation: h-spin 2s infinite linear;
}
.h-pulse {
  -webkit-animation: h-spin 1s infinite steps(8);
  animation: h-spin 1s infinite steps(8);
}

@-webkit-keyframes h-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes h-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.h-space:before { content: "\20"; }
.h-!:before { content: "\21"; }
.h-dcute:before { content: "\22"; }
.h-#:before { content: "\23"; }
.h-$:before { content: "\24"; }
.h-%:before { content: "\25"; }
.h-&:before { content: "\26"; }
.h-cute:before { content: "\27"; }
.h-(:before { content: "\28"; }
.h-):before { content: "\29"; }
.h-star:before { content: "\2a"; }
.h-+:before { content: "\2b"; }
.h-coma:before { content: "\2c"; }
.h--:before { content: "\2d"; }
.h-.:before { content: "\2e"; }
.h-slash:before { content: "\2f"; }
.h-0:before { content: "\30"; }
.h-1:before { content: "\31"; }
.h-2:before { content: "\32"; }
.h-3:before { content: "\33"; }
.h-4:before { content: "\34"; }
.h-5:before { content: "\35"; }
.h-6:before { content: "\36"; }
.h-7:before { content: "\37"; }
.h-8:before { content: "\38"; }
.h-9:before { content: "\39"; }
.h-..:before { content: "\3a"; }
.h-;:before { content: "\3b"; }
.h-inf:before { content: "\3c"; }
.h-=:before { content: "\3d"; }
.h-sup:before { content: "\3e"; }
.h-interro:before { content: "\3f"; }
.h-@:before { content: "\40"; }
.h-A:before { content: "\41"; }
.h-B:before { content: "\42"; }
.h-C:before { content: "\43"; }
.h-D:before { content: "\44"; }
.h-E:before { content: "\45"; }
.h-F:before { content: "\46"; }
.h-G:before { content: "\47"; }
.h-H:before { content: "\48"; }
.h-I:before { content: "\49"; }
.h-J:before { content: "\4a"; }
.h-K:before { content: "\4b"; }
.h-L:before { content: "\4c"; }
.h-M:before { content: "\4d"; }
.h-N:before { content: "\4e"; }
.h-O:before { content: "\4f"; }
.h-P:before { content: "\50"; }
.h-Q:before { content: "\51"; }
.h-R:before { content: "\52"; }
.h-S:before { content: "\53"; }
.h-T:before { content: "\54"; }
.h-U:before { content: "\55"; }
.h-V:before { content: "\56"; }
.h-W:before { content: "\57"; }
.h-X:before { content: "\58"; }
.h-Y:before { content: "\59"; }
.h-Z:before { content: "\5a"; }
.h-[:before { content: "\5b"; }
.h-backslash:before { content: "\5c"; }
.h-]:before { content: "\5d"; }
.h-^:before { content: "\5e"; }
.h-_:before { content: "\5f"; }
.h-`:before { content: "\60"; }
.h-a:before { content: "\61"; }
.h-b:before { content: "\62"; }
.h-c:before { content: "\63"; }
.h-d:before { content: "\64"; }
.h-e:before { content: "\65"; }
.h-f:before { content: "\66"; }
.h-g:before { content: "\67"; }
.h-h:before { content: "\68"; }
.h-i:before { content: "\69"; }
.h-j:before { content: "\6a"; }
.h-k:before { content: "\6b"; }
.h-l:before { content: "\6c"; }
.h-m:before { content: "\6d"; }
.h-n:before { content: "\6e"; }
.h-o:before { content: "\6f"; }
.h-p:before { content: "\70"; }
.h-q:before { content: "\71"; }
.h-r:before { content: "\72"; }
.h-s:before { content: "\73"; }
.h-t:before { content: "\74"; }
.h-u:before { content: "\75"; }
.h-v:before { content: "\76"; }
.h-w:before { content: "\77"; }
.h-x:before { content: "\78"; }
.h-y:before { content: "\79"; }
.h-z:before { content: "\7a"; }
.h-£:before { content: "\a3"; }
.h-Ō:before { content: "\14c"; }
.h-€:before { content: "\20ac"; }