html, body {
  font-family: hathorock, sans-serif;
  font-size: 20px;
}
input {
  display: block;
  width: 100%;
  font-size: 1em;
}
#header {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  z-index: 1;
}
#header p{
  font-size: 2em;
  margin: .25em 0;
}
h1 {
  font-weight: normal;
  font-size: 4em;
  margin: .2em 0;
}
.char {
  max-width: 34em;
  margin: auto;
}
.char div {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #999;
  text-align: center;
  margin: .1em;
  line-height: 1.4em;
  cursor: pointer;
  vertical-align: middle;
  font-size: 2em;
  background-color: #eee;
  opacity: .3;
}
.char div.rock {
  display: inline-block;
  background-color: #fff;
  opacity: 1;
}

p.result {
  display: block;
  font-size: 4em;
  margin: 0 0 .25em;
  border-left: 1px solid #ccc;
  position: relative;
  margin-top: 2.7em;
}
p.result span {
  position: relative;
}
p.result span:before,
p.result span:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 14%;
  height: 1px;
  background-color: #ccc;
  z-index: -1;
}
p.result span:after {
  top: 79%
}

p span {
  border-right: 1px solid #ccc;
}